body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  max-height: 10%;
}

#map {
  height: 70vh;
  width: 100%;
}

.center {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: nowrap;
}

header {
  background-color: #FF751A;
  padding: 10px 0;
}

.logotipo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logotipo h1 {
  margin: 0;
  width: 300px;
  color: white;
  text-shadow: 0.1em 0.1em 0.05em #333;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.4s;
}

.menu a:hover {
  color: black;;
}

.menu .btn-menu {
  background-color: #BABABA;
  display: inline-block;
  padding: 7px 14px;
  color: black;
  border-radius: 6px;
}

.menu .btn-menu:hover {
  background-color: #74340a;
  color: white;
}

/* media queries for responsive design */
@media only screen and (max-width: 768px) {
  .center {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu {
    width: 100%;
    text-align: center;
    display: none;
  }

  .menu.show {
    display: block;
    margin-top: 10px;
  }

  .menu a {
    display: block;
    margin-bottom: 10px;
  }

  .menu .btn-menu {
    display: block;
    margin: 10px auto;
  }
}

 section.mainfind {
    background-image: url('../img/imagemfundogrind.jpg');
    padding-bottom: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 900px;
  }
 
  .titulofind h1 {
    font-size: 65px;
    color: white;
    position: absolute;
    padding-top: 1%;
    margin-left: 18%;
    font-weight: 800;
    text-shadow: 0.1em 0.1em 0.05em #000000;
  }

  section .fundoroll button{ 
    background-color: #FF751A;
    padding: 2%;
    border: 2px solid white;
    font-weight: 550;
    color: white;
    font-size: 18px;
    justify-content: center;
    display: flex;
    width: 100%;
    cursor: pointer;
    margin: 3% 0;
    margin-left: 8%;
  }
  

  .fundoroll button:hover {
    background-color: #74340a;
    color: white;
  }
  
  .fundoroll {
    height: 545px;
    width: 25%;
    float: left;
    margin-left: 20%;
    margin: 130px;   
  }

  .fundoroll1 {
    height: 820px;
    width: 50%; 
    float: right;
    margin-top: 50px;
    padding-right: 60px;
  }





  